@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image: linear-gradient(to right, #F29F80 20%, #F2E0C9);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0d1940b9;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #BF8339;
    text-align: center;
    text-shadow: 5px 5px 15px #0d1940b9;
    text-shadow: 1px 1px 2px ;
}

h2 {
    color: #F29F80;
    text-align: center;
}

p {
    text-align: justify;
}